html, body, #root {
    font-family : Roboto, sans-serif;
    background: #c24646;
    color: #e6eaf1;
    height: 100%;
    margin: 30;
    
    
}
.inicio{
    text-align: center;
    display: flex; 
    justify-content:center; 
    align-items: center;
   
    flex-direction: column;
    
}

@font-face{
    font-family:Roboto;
    src: url(./Source/Roboto/Roboto-Medium.ttf);
}

a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}